.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    width: 100%;
}


@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}