html {
    scroll-behavior: smooth;
    scrollbar-width:thin;
    scrollbar-color: #F8D24E black;

}

.container{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
}


.modal__button__close{
    position: absolute;
    right: 12px;
    top: 12px;
}

.modal__button__close__icon{
    width: 20px;
    height: 20px;
    fill: #131313;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }


    .modal__button__close__icon{
        width: 24px;
        height: 24px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}


:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --animation: 350ms linear;
}