.footer {
    background-color: #84A178;
    height: 1570px;
}
.footer .container {
    position: relative;
    width: 100%;
    top: -353px;
}
.footer__list__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.footer__address__item {
    width: 280px;
    border-radius: 24px;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    padding: 40px 32px 24px;
}

.footer__address__title {
    display: inline-block;
    color: #131313;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: #F8D24E;
    padding: 4px 22px;
    margin-bottom: 24px;
}

.footer__address__text {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.48px;
    margin-top: 24px;
}

.footer__address__place {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.48px;
    margin-bottom: 8px;
}

.footer__address__link {
    width: 212px;
    color: #D6936D;
    font-size: 12px;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.48px;  
    margin-bottom: 24px;
}

.footer__address__line {
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}

.footer__address__subtext {
    color: #ABABAB;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
}

.noreplay {
    margin-top: 0;
}

.footer__list__btn {
    margin-top: 20px;
}

.footer__btn__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.footer__item__btn {
    border-radius: 10px;
    gap: 4px;
    width: 196px;
    height: 42px;
    background-color: #F8D24E;

    color: #131313;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
}

.btn__lower {
    background-color: transparent;
    border: 2px solid #F8D24E;
}

.footer__btn__arrow {
    width: 12px;
    height: 12px;
}

.footer__homemade {
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}

.footer__subtitle {
    margin-top: 60px;
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 232px;
}

.footer__title {
    padding-top: 16px;
    color: #FCFCFC;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    width: 200px;
}

.footer__contacts__list {
    display: flex;
    margin-top: 60px;
    gap: 20px;
    justify-content: right;
}

.footer__contacts__item {
    width: 34px;
    height: 34px;
    fill: #84A178;
    background: #F8D24E;
    border-radius: 50%;
}

.icon-fill {
    fill: #f8d24e;
}

.icon-stroke {
    fill: #84a178;
    transition: fill var(--animation);
}

.footer__social-contacts__link:hover .icon-stroke,
.footer__social-contacts__link:focus .icon-stroke {
    fill: #ffffff;
}

.footer__contacts__text {
    margin-top: 20px;
    color: #131313;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 186%;
}

.footer__contacts__text span {
    color: #FCFCFC;
}

.footer__text__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    margin-top: 20px;
    color: #7A7A7A;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 152%;
    width: 280px;
}

/* TABLET */

@media screen and (min-width: 768px) {
    .footer {
        height: 645px;
    }

    .footer .container {
        top: -299px;
    }
    .footer__list__address {
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .footer__address__item {
        width: 224px;
        padding: 40px 32px;
    }
    
    .footer__address__title {
        padding-top: 4;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.64px;
    }
    
    .food_truck {
        width: auto;
    }
    
    .footer__address__text {
        font-size: 14px;
        letter-spacing: 0.56px;
    }
    
    .footer__address__link {
        font-size: 14px;
        letter-spacing: 0.56px;
    }
    
    .footer__address__line {
        padding-bottom: 32px;
    }
    
    .footer__address__subtext {
        color: #907E82;
        font-size: 14px;
    }
    
    .noreplay {
        padding-bottom: 0;
    }
    
    .footer__list__btn {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer__btn__item {
        display: inline;
        padding-top: 0;
        padding-right: 16px;
    }
    .footer__homemade {
        display: flex;
        gap: 66px;
    }
    
    .footer__subtitle {
        width: 352px;
        font-size: 26px;
        letter-spacing: 1.04px;
    }
    
    .footer__title {
        width: 352px;
        font-size: 48px;
        letter-spacing: 2.88px;
    }
    
    .footer__contacts__list {
        display: flex;
        margin-top: 101px;
        gap: 30px;
        justify-content: flex-end;
    }
    
    .footer__contacts__item {
        width: 34px;
        height: 34px;
        fill: #84A178;
        background: #F8D24E;
        border-radius: 50%;
    }
    
    .footer__contacts__text {
        margin-top: 34px;
        color: #131313;
        text-align: right;
        font-size: 14px;
        font-weight: 700;
        line-height: 186%;
    }

    .footer__text {
        width: auto;
        line-height: 186%;
        letter-spacing: 0.28px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    .footer {
        height: 800px;
    }

    .footer .container {
        top: -128px;
    }
    .footer__list__address {
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: center;
    }
    
    .footer__address__item {
        width: 368px;
        padding: 40px 32px;
    }
    
    .footer__address__title {
        padding-top: 4;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.64px;
    }
    
    .food_truck {
        width: auto;
    }
    
    .footer__address__text {
        font-size: 14px;
        letter-spacing: 0.56px;
    }
    
    .footer__address__link {
        width:auto;
        font-size: 16px;
        letter-spacing: 0.56px;
    }
    
    .footer__address__line {
        padding-bottom: 32px;
    }
    
    .footer__address__subtext {
        color: #907E82;
        font-size: 14px;
    }
    
    .noreplay {
        padding-bottom: 0;
    }
    
    .footer__list__btn {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer__btn__item {
        display: inline;
        padding-top: 0;
        padding-right: 16px;
    }
    .footer__homemade {
        display: flex;
        gap: 333px;
    }
    
    .footer__subtitle {
        margin-top: 120px;
        width: 504px;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    
    .footer__title {
        width: 504px;
        font-size: 58px;
        letter-spacing: 3.48px;
    }
    
    .footer__contacts__list {
        display: flex;
        margin-top: 138px;
        gap: 30px;
        justify-content: flex-end;
    }
    
    .footer__contacts__item {
        width: 34px;
        height: 34px;
        fill: #84A178;
        background: #F8D24E;
        border-radius: 50%;
    }
    
    .footer__contacts__text {
        margin-top: 34px;
        color: #131313;
        text-align: right;
        font-size: 14px;
        font-weight: 700;
        line-height: 186%;
    }

    .footer__text {
        width: auto;
        line-height: 186%;
        letter-spacing: 0.24px;
        padding-bottom: 12px;
    }
}
