.header {
    background-color: #84A178;
    padding-top: 14px;
    padding-bottom: 14px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__ice {
    fill: #F8D24E;
    width: 18px;
    height: 37px;
    padding-left: 7px;
}

.logo__text {
    text-align: center;
    -webkit-text-stroke-width: 0.7436769604682922;
    color: #F8D24E;
    font-family: "Seymour One", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1.487px;
    margin-right: 195px;
    padding-top: 25px;
}

.header__nav__list {
    display: none;
}

.header__btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 0px;
        padding-bottom: 0;
    }
    .logo__ice {
        fill: #F8D24E;
        width: 22px;
        height: 44px;
        padding-left: 19px;
    }
    .logo__text {
        margin-right: 440px;
        padding-top: 25px;
    }
    .header__btn__container {
        padding-right: 32px;
        padding-bottom: 20px;
        margin-top: -10px;
    }
    .header__btn {
        display: block;
        width: 152px;
        height: 42px;
        border-radius: 10px;
        background: #F8D24E;
    }
    .header__btn__text {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding-top: 9px;
    }
    .header__btn__arrow {
        width: 12px;
        height: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .mobile__menu {
        display: none;
    }
    .header {
        background-color: #84A178;
        padding-top: 8px;
        padding-bottom: 45px;
    }
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .header__list__btn {
        display: flex;
        justify-content: center;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo__ice {
        width: 27px;
        height: 55px;
        padding-left: 0;
    }
    .header__nav__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
    }
    /* .header__nav__item {
        
    } */
    .header__nav__link {
        color: #FCFCFC;
        font-size: 16px;
        font-weight: 700;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header__nav__link:hover, 
    .header__nav__link:focus {
        color: #F8D24E;
    }
        

    
    .header__btn__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
    }
    /* .header__btn__text {
    } */
}