.hero {
  background-color: #84a178;
  height: 502px;
  padding-top: 99px;
}

.hero .container {
  position: relative;
  height: 100%;
}

.hero__title {
  color: #fcfcfc;
  width: 247px;
  font-family: 'Seymour One';
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hero__titile--sized {
  font-size: 34px;
  line-height: 96.5%;
}

.hero__thumb {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  gap: 12px;
}

.hero__products__link {
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  padding: 11px 26px;
  transition: all 350ms linear;
}

.hero__products__link:hover {
  border: 2px solid #0a8817;
}

.hero__products__link:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}

.hero__link {
  color: #f8d24e;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.hero__content__image__container {
  display: none;
}

.hero__statistics__thumb {
  display: none;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: 1;
  width: 177px;
  height: 217px;
}

.hero__dots__img {
  position: absolute;
  bottom: 0;
  right: 40px;
}

@media screen and (min-width: 480px) {
  .hero__img {
    right: 20px;
    width: 218px;
    height: 267px;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    right: 92px;
    width: 268px;
    height: 329px;
  }
}
