.mobile__menu {
    width: 100%;
    background-color: #84A178;
    padding-top: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mobile__nav-list {
    display: flex;
    margin-top: 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.mobile__nav-link {
    color: #FCFCFC;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__nav-link:hover,
.mobile__nav-link:focus {
    color: #131313;
}

.mobile__btn {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 64px;
    padding: 12px 36px;

    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #F8D24E;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__btn__arrow {
    fill: #000;
    width: 12px;
    height: 12px;
}
.mobile__btn:hover,
.mobile__btn:focus {
    background: #0A8817;
}

.mobile__btn:focus {
    color: #FFF;
}

.mobile__btn:focus .mobile__btn__arrow {
    fill: #FFF;
}

/* MOBILE */

@media screen and (min-width: 480px){
    .mobile__nav-list {
        margin-top: 40px;
    }

    
    .mobile__btn {
        margin-top: 114px;
        margin-bottom: 88px;
    }
}

/* TABLET */

@media screen and (min-width: 768px) {
    .header__btn {
        display: none;
    }
    .mobile__nav-list {
        margin-top: 76px;
        gap: 40px;
        margin-bottom: 100%;
    }
    
    .mobile__nav-link {
        font-size: 48px;
    }
    
    
    .mobile__btn {
        display: none;
    }
}