.buynow__modal {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(1);
    min-width: 280px;
    min-height: 991px;
    border-radius: 10px;
    border: 2px solid #F8D24E;  
    background: #FCFCFC;
    padding-bottom: 29px;
    
    transition: transform var(--animation);

    display: flex;
    flex-direction: column;
    align-items: center;
}


.buynow__title {
    color: #131313;
    text-align: center;
    font-family: "Seymour One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 83px;
    margin-top: 28px;
}

.buynow__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 82px;
}

.buynow__item {
    position: relative;
    text-align: center;
    width: 132px;
    height: 136px;
    border-radius: 15px;
    padding: 96px 13px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.buynow__item:nth-child(1) {
    border: 2px solid #96AF8C;
    transition: all var(--animation);
}

.buynow__item:nth-child(1):hover,
.buynow__item:nth-child(1):focus {
    background-color: #96AF8C;
}

.buynow__item:nth-child(2) {
    border: 2px solid #EFD478;
    transition: all var(--animation);
}
.buynow__item:nth-child(2):hover,
.buynow__item:nth-child(2):focus {
    background-color: #EFD478;
}

.buynow__item:nth-child(3) {
    border: 2px solid #D6936D;
    transition: all var(--animation);
}

.buynow__item:nth-child(3):hover,
.buynow__item:nth-child(3):focus {
    background-color: #D6936D;
}

.buynow__item__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 132px;
    height: 132px;
}

.buynow__item__title {
    color: #131313;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.buynow__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 12px;
    margin-top: 31px;
}

.buynow__input {
    width: 224px;
    height: 32px;

    border-radius: 10px;
    border: 1px solid #84A178;
    background: rgba(248, 210, 78, 0.10);

    padding: 8px 12px;
}

.buynow__input:hover,
.buynow__input:focus {
    outline: none;
}

.form__input-comment {
    width: 224px;
    height: 65px;

    border-radius: 10px;
    border: 1px solid #84A178;
    background: rgba(248, 210, 78, 0.10);

    resize: none;

    padding: 8px 12px;
}
.buynow__btn {
    margin-top: 26px;
    margin-left: 25%;
    width: 114px;
    height: 42px;
    border-radius: 10px;
    background: #F8D24E;

    color: #131313;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

/* TABLET */

@media screen and (min-width: 768px) {
    .buynow__modal {
        min-width: 568px;
        min-height: 644px;
        padding-bottom: 32px;
    }

    .buynow__title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 32px;
        margin-bottom: 103px;
    }
    
    .modal__button-close__icon {
        width: 24px;
        height: 24px;
    }

    .buynow__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .buynow__item {
        height: 135px;
        padding: 95px 13px 20px;
    }

    .buynow__form {
        gap: 16px;
        margin-top: 40px;
    }

    .buynow__input {
        width: 368px;
        height: 42px;
    
        padding: 11px 16px;
    }

    .form__input-comment {
        width: 368px;
        height: 84px;

        padding: 11px 16px;
    }

    .buynow__btn {
        margin-top: 32px;
        margin-left: 35%;
        width: 121px;
        height: 42px;
    
        font-size: 14px;
    }
}

/* DESKTOP */

@media screen and (min-width: 12000px) {
    .buynow__modal {
        min-width: 568px;
        min-height: 644px;
        padding-bottom: 32px;
    }

    .buynow__title {
        font-size: 20px;
        line-height: 28px;
        margin-top: 32px;
        margin-bottom: 103px;
    }
    
    .modal__button-close__icon {
        width: 24px;
        height: 24px;
    }

    .buynow__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .buynow__item {
        height: 135px;
        padding: 95px 13px 20px;
    }

    .buynow__form {
        gap: 16px;
        margin-top: 40px;
    }

    .buynow__input {
        width: 368px;
        height: 42px;
    
        padding: 11px 16px;
    }

    .form__input-comment {
        width: 368px;
        height: 84px;

        padding: 11px 16px;
    }

    .buynow__btn {
        margin-top: 32px;
        margin-left: 35%;
        width: 121px;
        height: 42px;
    
        font-size: 14px;
    }
}