.franchise__modal {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(1);
    min-width: 280px;
    min-height: 365px;
    border-radius: 10px;
    border: 2px solid #F8D24E;  
    background: #FCFCFC;
    padding-bottom: 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal__button__close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal__button__close__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.franchise__title {
  right: 0;
  color: #131313;
  text-align: center;
  font-family: 'Seymour One';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

.franchise__text {
  color: #131313;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.franchise__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.franchise__input {
  width: 224px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
  padding-left: 12px;
}

.form__input-comment {
  width: 224px;
  padding-left: 12px;
}

.franchise__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 114px;
  height: 42px;
  flex-shrink: 0;
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  background: #f8d24e;
  margin-top: 28px;
  padding: 12px 34px;
}
