.info-about-product__modal {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 280px;
    min-height: 968px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;
    padding: 28px 20px;
    transition: transform var(--animation);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info-about-product__button{
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
height: 20px;
}


.info-about-product__title {
    color: #131313;
text-align: center;
font-family: "Seymour One", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 140%;
width: 142px;
margin-bottom: 20px;
}


.info-about-product__img {
    width: 132px;
height: 132px;
margin-bottom: 20px;
}


.info-about-product__list {
display: flex;
gap: 9px;
margin-bottom: 40px;
}


.info-about-product__item {
    width: 53px;
    height: 72px;
        border-radius: 40px;
    border: 2px solid #9CBE8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}


.info-about-product__item__div{
    width: 43px;
height: 43px;
border-radius: 50%;
background-color: #9CBE8F;
position: relative;
margin-bottom: 8px;
}


.info-about-product__item__title {
    color: #131313;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 233%;
padding-top: 8px;
}


.info-about-product__item__text {
    width: 38px;
    color: #131313;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 12px;
font-weight: 400;
overflow: hidden;
text-overflow: ellipsis;
}


.info-about-product__table {
    width: 100%;
    margin-bottom: 40px;
}


.info-about-product__table__title {
    color: #131313;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 140%;
margin-bottom: 24px
}


.info-about-product__table__row {
    display: flex;
    justify-content: space-between;

}


.info-about-product__table__row:not(:last-child){
    margin-bottom: 11px;
}


.info-about-product__table__column {
    color: #131313;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 176%;
letter-spacing: 0.56px;
}


.info-about-product__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


.info-about-product__form__name {
    width: 240px;
height: 42px;
border-radius: 10px;
border: 1px solid #84A178;
background: rgba(248, 210, 78, 0.10);
color: #131313;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 140%;
padding: 11px 10px;
}


.info-about-product__form__phone {
    width: 240px;
height: 42px;
border-radius: 10px;
border: 1px solid #84A178;
background: rgba(248, 210, 78, 0.10);
color: #131313;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 140%;
padding: 11px 10px;
}


.info-about-product__form__comment {
    width: 240px;
    border-radius: 10px;
border: 1px solid #84A178;
background: rgba(248, 210, 78, 0.10);
color: #131313;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 140%;
padding: 11px 10px;
margin-bottom: 8px;
}


.info-about-product__form__btn {
    width: 132px;
height: 42px;
border-radius: 10px;
background: #F8D24E;
padding: 12px 34px;
}


@media screen and (min-width: 768px){
}