<div class="buynow__modal">
    <h3 class="buynow__title">Buy now</h3>
    <ul class="buynow__list">
        <li class="buynow__item">
            <img class="buynow__item__img" srcset="/img/products/ice-cream/ice-cream.png 1x,
                            /img/products/ice-cream/ice-cream@2x.png 2x" src="#" alt="ice cream">
                <h4 class="buynow__item__title">ice cream</h4>
        </li>
        <li class="buynow__item">
            <picture class="buynow__item__img">
                <source srcset="/img/products/ice-coffee/ice-coffee.png    1x,
                                /img/products/ice-coffee/ice-coffee@2x.png 2x">
                <img src="#" alt="ice coffee">
            </picture>
                <h4 class="buynow__item__title">ice coffee</h4>
        </li>
        <li class="buynow__item">
            <picture class="buynow__item__img">
                <source srcset="/img/products/milkshakes/milkshakes.png   1x,
                                /img/products/milkshakes/milkshakes@2x.png 2x">
                <img src="#" alt="milkshakes">
            </picture>
                <h4 class="buynow__item__title">milkshakes</h4>
        </li>
    </ul>

    <form class="buynow__form">
        <label for="name" class="buynow__label"></label>
        <input class="buynow__input" type="name" id="name" placeholder="Name" required>

        <label class="buynow__label" for="tel"></label>
        <input class="buynow__input" type="tel" id="tel" placeholder="Phone" required>

        <label class="buynow__label-comment" for="textarea"></label>
        <textarea class="form__input-comment" type="text" id="textarea" placeholder="Comment" required></textarea>

        <button class="buynow__btn" type="submit">Submit</button>
    </form>
</div>