<footer class="footer">
    <div class="container">
        <ul class="footer__list__address">
            <li class="footer__address__item">
                
                <h4 class="footer__address__title">CAFE</h4>
                <div class="footer__address__line">
                    <!-- виправити -->
                <p class="footer__address__place">Chicago</p>
                <a href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave" class="footer__address__link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>

                <div class="footer__address__line">
                    <p class="footer__address__text">Monday - Friday</p>
                    <p class="footer__address__subtext">06:00 AM - 10:00 PM</p>

                    <p class="footer__address__text">Saturday - Sunday</p>
                    <p class="footer__address__subtext">08:00 AM - 16:00 PM</p>
                </div>

                <p class="footer__address__text">+61(0) 383 766 284</p>
                <p class="footer__address__text noreplay">noreply@envato.com</p>
            </li>

            <li class="footer__address__item">
                <h4 class="footer__address__title food_truck">FOOD TRUCK</h4>
                <div class="footer__address__line">
                    <p class="footer__address__place">Los Angeles</p>
                    <a href="https://www.google.com.ua/maps/search/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90263,+USA" class="footer__address__link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>

                <div class="footer__address__line">
                    <p class="footer__address__text">Monday - Friday</p>
                    <p class="footer__address__subtext">06:00 AM - 10:00 PM</p>

                    <p class="footer__address__text">Saturday - Sunday</p>
                    <p class="footer__address__subtext">08:00 AM - 16:00 PM</p>
                </div>

                <p class="footer__address__text">+61(0) 383 766 284</p>
                <p class="footer__address__text noreplay">noreply@envato.com</p>
            </li>

            <li class="footer__address__item">
                <h4 class="footer__address__title">CAFE</h4>
                <div class="footer__address__line">
                    <p class="footer__address__place">New York</p>
                    <a href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn" class="footer__address__link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>

                <div class="footer__address__line">
                    <p class="footer__address__text">Monday - Friday</p>
                    <p class="footer__address__subtext">06:00 AM - 10:00 PM</p>

                    <p class="footer__address__text">Saturday - Sunday</p>
                    <p class="footer__address__subtext">08:00 AM - 16:00 PM</p>
                </div>

                <p class="footer__address__text">+61(0) 383 766 284</p>
                <p class="footer__address__text noreplay">noreply@envato.com</p>
            </li>
        </ul>

        <ul class="footer__list__btn">
            <li class="footer__btn__item">
                <button class="footer__item__btn" type="button">
                    Our Locations    >
                    <!-- <svg class="footer__btn__arrow">
                        <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
                    </svg> -->
                </button>
            </li>

            <li class="footer__btn__item">
                <button class="footer__item__btn btn__lower" type="button">
                    Franchise    >
                    <!-- <svg class="footer__btn__arrow">
                        <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
                    </svg> -->
                </button>
            </li>
        </ul>

        <div class="footer__homemade">
            <div class="footer__title__container">
                <h3 class="footer__subtitle">homemade ice cream made </h3>
                <h2 class="footer__title">with passion</h2>
            </div>

            <div class="footer__contacts">
                <ul class="footer__contacts__list">
                    <li class="footer__contacts__item">
                        <svg class="footer__contacts__media">
                            <use hre="/img/icons/symbol-defs.svg#icon-github"></use>
                        </svg>
                    </li>
                    <li class="footer__contacts__item">
                        <svg class="footer__contacts__media">
                            <use hre="/img/icons/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </li>
                    <li class="footer__contacts__item">
                        <svg class="footer__contacts__media">
                            <use hre="/img/icons/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </li>
                </ul>
                <p class="footer__contacts__text">Feel free to contact <span>+61 (0) 383 766 284</span> </p>
            </div>           
        </div>
        <div class="footer__text__container">
            <p class="footer__text">© 2022 - IceCream. All Rights Reserved. </p>
        </div>
    </div>
    </footer>