<header class="header">
    <div class="container">
        <a class="logo" href="index.html">
            <svg class="logo__ice">
                <use href="/img/icons/symbol-defs.svg#icon-ice-logo"></use>
            </svg>
            <p class="logo__text">ce</p>
        </a>
        <nav class="header__nav">
            <div class="header__list__btn">
                <input type="checkbox" id="toggle" class="burger__input">

                <label for="toggle" class="burger__label">
                    <span class="toggle-btn"></span>
                </label>

                <ul class="header__nav__list">
                    <li class="header__nav__item">
                        <a href="index.html" class="header__nav__link">Home</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">How it’s made?</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">Our products</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">Contact</a>
                    </li>
                </ul>
                <div class="header__btn__container">
                    <button class="header__btn" type="button">
                        <p class="header__btn__text">Buy now</p>
                        <svg class="header__btn__arrow">
                            <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>



            <!-- MOBILE MENU -->
            <div class="mobile__menu">
                <nav class="mobile__nav">

                    <ul class="mobile__nav-list">
                        <li class="mobile__nav-item">
                            <a href="index.html" class="mobile__nav-link">Home</a>
                        </li>
                        <li class="mobile__nav-item">
                            <a href="#" class="mobile__nav-link">How it’s made?</a>
                        </li>
                        <li class="mobile__nav-item">
                            <a href="#" class="mobile__nav-link">Our products</a>
                        </li>
                        <li class="mobile__nav-item">
                            <a href="#" class="mobile__nav-link">Contact</a>
                        </li>
                    </ul>
                </nav>
                <button class="mobile__btn" type="button">
                    Buy now
                    <!-- <p class="mobile__btn__text">Buy now</p> -->
                    <svg class="mobile__btn__arrow">
                        <use href="/src/img/icons/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </nav>
    </div>
</header>