<header class="header">
    <div class="container">
        <a class="logo" href="index.html">
            <svg class="logo__ice">
                <use href="/src/img/icons/symbol-defs.svg#icon-logo"></use>
            </svg>
        </a>
        <nav class="header__nav">
            <div class="header__list__btn">
                <!-- <input type="checkbox" id="toggle" class="burger__input">

                <label for="toggle" class="burger__label">
                    <span class="toggle-btn"></span>
                </label> -->
                <svg class="header__mobile__menu">
                    <use href="/src/img/icons/symbol-defs.svg#icon-mobile-menu"></use>
                </svg>

                <ul class="header__nav__list">
                    <li class="header__nav__item">
                        <a href="index.html" class="header__nav__link">Home</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">How it’s made?</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">Our products</a>
                    </li>
                    <li class="header__nav__item">
                        <a href="#" class="header__nav__link">Contact</a>
                    </li>
                </ul>
                <div class="header__btn__container">
                    <button class="header__btn" type="button">Buy now
                        <svg class="header__btn__arrow">
                            <use href="/src/img/icons/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>