<section class="made">
    <div class="container">
        <h3 class="made__sub-title">tradition and love</h3>
        <h2 class="made__title">how it’s made?</h2>
        <picture class="made____img">
            <source srcset="/img/made/cow.jpg   1x,
                            /img/made/cow@2x.jpg 2x">
            <img src="#" alt="cow">
        </picture>
        <p class="made_text_one">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
        <p class="made_text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </p>
        <button class="made_btn">Read more</button>
        <ul>
            <li>
                <svg class="products__item__svg">
                    <use class="products__item__icon" href=""></use>
                </svg>
                <h4>721</h4>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg class="products__item__svg">
                    <use class="products__item__icon" href=""></use>
                </svg>
                <h4>16kg</h4>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg class="products__item__svg">
                    <use class="products__item__icon" href=""></use>
                </svg>
                <h4>84</h4>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>