<div class="mobile__menu">
    <nav class="mobile__nav">

        <ul class="mobile__nav-list">
            <li class="mobile__nav-item">
                <a href="index.html" class="mobile__nav-link">Home</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">How it’s made?</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Our products</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <button class="mobile__btn" type="button">
        Buy now
        <svg class="mobile__btn__arrow">
            <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
    </button>
</div>