<div class="mobile__menu" data-menu>
    <a class="mobile__menu__logo" href="/index.html">
        <svg class="header__logo__ice">
            <use href="/img/icons/symbol-defs.svg#icon-logo"></use>
        </svg>
    </a>
    <button class="mobile__menu__close-btn" type="button" data-menu-close>
        <svg class="mobile__menu__close-svg">
            <use href="/img/icons/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <nav class="mobile__nav">
        <ul class="mobile__nav-list">
            <li class="mobile__nav-item">
                <a href="index.html" class="mobile__nav-link">Home</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">How it’s made?</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Our products</a>
            </li>
            <li class="mobile__nav-item">
                <a href="#" class="mobile__nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <button class="mobile__btn" type="button">
        Buy now
        <svg class="mobile__btn__arrow">
            <use href="/img/icons/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
    </button>
</div>