<div class="backdrop">
    <div class="info-about-product__modal is-hidden" id="info-about-product__modal">
        <button class="close-button info-about-product__button">
            <svg class="made__btn__svg">
                <use class="made__item__icon" href="/img/icons/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="info-about-product__title">Chololate 
            icecream</h2>
        <img class="info-about-product__img" srcset="img/modal-with-info-about-product/icecream.png 1x,
    img/made/icecream.png@2x.png 2x" src="img/modal-with-info-about-product/icecream.png" alt="icecream">
        <ul class="info-about-product__list">
            <li class="info-about-product__item">
                <div class="info-about-product__item__div">
                    <h4 class="info-about-product__item__title">320</h4>
                </div>
                <p class="info-about-product__item__text">kcal</p>
            </li>
            <li class="info-about-product__item">
                <div class="info-about-product__item__div">
                    <h4 class="info-about-product__item__title">4g </h4>
                </div>
                <p class="info-about-product__item__text">Protein</p>
            </li>
            <li class="info-about-product__item">
                <div class="info-about-product__item__div">
                    <h4 class="info-about-product__item__title">8,2g </h4>
                </div>
                <p class="info-about-product__item__text">Fats</p>
            </li>
            <li class="info-about-product__item">
                <div class="info-about-product__item__div">
                    <h4 class="info-about-product__item__title">40,4g </h4>
                </div>
                <p class="info-about-product__item__text">Carbs</p>
            </li>
        </ul>
        <table class="info-about-product__table">
            <caption class="info-about-product__table__title">Ingredients</caption>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Milk</th>
                <th class="info-about-product__table__column">100mlb</th>
            </tr>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Belgian chocolate</th>
                <th class="info-about-product__table__column">20g</th>
            </tr>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Cream</th>
                <th class="info-about-product__table__column">150 ml</th>
            </tr>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Cocoa powder</th>
                <th class="info-about-product__table__column"> 30g</th>
            </tr>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Sugar</th>
                <th class="info-about-product__table__column">40g</th>
            </tr>
            <tr class="info-about-product__table__row">
                <th class="info-about-product__table__column">Vanilla sugar</th>
                <th class="info-about-product__table__column">10g</th>
            </tr>
        </table>

        <form class="info-about-product__form">
            <input class="info-about-product__form__name" type="text" name="Name" placeholder="Name">

            <input class="info-about-product__form__phone" type="text" name="Phone" placeholder="Phone">

            <textarea class="info-about-product__form__comment" name="Comment" id="" cols="30" rows="4" placeholder="Comment"></textarea>

            <button class="info-about-product__form__btn">Submit</button>
        </form>
    </div>
</div>