<section class="info-about-product">
    <h2 class="info-about-product__title"></h2>
    <img class="info-about-product__img" srcset="img/modal-with-info-about-product/icecream.png 1x,
    img/made/icecream.png@2x.png 2x" src="img/modal-with-info-about-product/icecream.png" alt="icecream">
    <ul class="info-about-product__list">
        <li class="info-about-product__item">
            <h4 class="info-about-product__item__title">320</h4>
            <p class="info-about-product__item__text">kcal</p>
        </li>
        <li class="info-about-product__item">
            <h4 class="info-about-product__item__title">4g </h4>
            <p class="info-about-product__item__text">Protein...</p>
        </li>
        <li class="info-about-product__item">
            <h4 class="info-about-product__item__title">8,2g </h4>
            <p class="info-about-product__item__text">Fats</p>
        </li>
        <li class="info-about-product__item">
            <h4 class="info-about-product__item__title">40,4g </h4>
            <p class="info-about-product__item__text">Carbs</p>
        </li>
    </ul>
    <table class="info-about-product__table">
        <caption class="info-about-product__table__title">Ingredients</caption>
        <tr>
            <th>Milk</th>
            <th>100mlb</th>
        </tr>
        <tr>
            <th>Belgian chocolate</th>
            <th>20g</th>
        </tr>
        <tr>
            <th>Cream</th>
            <th>150 ml</th>
        </tr>
        <tr>
            <th>Cocoa powder</th>
            <th> 30g</th>
        </tr>
        <tr>
            <th>Sugar</th>
            <th>40g</th>
        </tr>
        <tr>
            <th>Vanilla sugar</th>
            <th>10g</th>
        </tr>
    </table>

    <form class="info-about-product__form">
        <input class="info-about-product__form__name" type="text" name="Name">

        <input class="info-about-product__form__phone" type="text" name="Phone">

        <textarea class="info-about-product__form__comment" name="Comment" id="" cols="30" rows="10"></textarea>

        <button class="info-about-product__form__btn">Submit</button>
    </form>
</section>