<div class="backdrop is-hidden" id="locations-modal">
  <div class="location">
    <button class="modal__button__close close-button">
      <svg class="modal__button__close__icon">
        <use href="/img/icons/symbol-defs.svg#icon-close"></use>
    </svg>
    </button>
    <h3 class="location__title">Our Locations</h3>
    <iframe class="location__image"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9961.62126051436!2d13.361326758248081!3d38.14683886947499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1319e61b3daa056b%3A0xf1b6f0ea5dfa8e4c!2sVilla%20Costanza!5e0!3m2!1sru!2sua!4v1735145038710!5m2!1sru!2sua"
      style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
      
      <a href="https://maps.app.goo.gl/EkWALQQh8DG3KMzk7" class="location__link">
        <button class="location__btn" type="button">Open map</button>
      </a>
  </div>
</div>