<section class="products">
    <div class="container">
        <div data-aos="fade-up">
        <h3 class="products__sub-title">100% natural</h3>
        <div data-aos="fade-up">
        <h2 class="products__title">products</h2>
    </div>
        <div data-aos="fade-up">
            <ul class="products__list">
                <li class="products__item">
                    <img class="products__item__img" srcset="/img/products/ice-cream/ice-cream.png 1x,
                                /img/products/ice-cream/ice-cream@2x.png 2x" src="#" alt="ice cream">
                    <div>
                        <h4 class="products__item__title">ice cream</h4>
                        <p class="products__item__text">Soft ice cream with a delicate taste. Made with milk, cream,
                            sugar
                            and
                            natural stabilizer</p>
                    </div>
                    <a class="products__item__link" href="">
                        <svg class="products__item__svg">
                            <use href="/img/icons/symbol-defs.svg#icon-Arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="products__item">
                    <picture class="products__item__img">
                        <source srcset="/img/products/ice-coffee/ice-coffee.png    1x,
                                    /img/products/ice-coffee/ice-coffee@2x.png 2x">
                        <img src="#" alt="ice coffee">
                    </picture>
                    <div>
                        <h4 class="products__item__title">ice coffee</h4>
                        <p class="products__item__text">Fragrant invigorating drink created from 100% natural
                            ingredients
                            without the use of preservatives and flavor enhancers</p>
                    </div>
                    <a class="products__item__link" href="">
                        <svg class="products__item__svg">
                            <use href="/img/icons/symbol-defs.svg#icon-Arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="products__item">
                    <picture class="products__item__img">
                        <source srcset="/img/products/milkshakes/milkshakes.png   1x,
                                    /img/products/milkshakes/milkshakes@2x.png 2x">
                        <img src="#" alt="milkshakes">
                    </picture>
                    <div>
                        <h4 class="products__item__title">milkshakes</h4>
                        <p class="products__item__text">Sweet drinks based on milk and ice cream, supplemented with
                            syrups,
                            fruits, berries and other sweets of your choice</p>
                    </div>
                    <a class="products__item__link" href="">
                        <svg class="products__item__svg">
                            <use href="/img/icons/symbol-defs.svg#icon-Arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>