<div class="backdrop" id="read-more-modal">
    <div class="read-more">
        <button class="modal__button__close close-button">
            <svg class="modal__button__close__icon">
                <use href="../img/icons/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="read-more__title">How it’s made?</h2>
        <iframe 
    class="read-more__video" 
    src="https://www.youtube.com/embed/8Qbax_1szSs" 
    frameborder="0" 
    allowfullscreen>
</iframe>
        <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et</p>
    </div>
</div>