<section class="review">
  <div class="swiper">
    <ul class="review__list swiper-wrapper">
      <li class="review__item swiper-slide">
        <img
          class="review__image"
          src="#"
          srcset="
            /img/review/ice_cream_table_desktop.png    1x,
            /img/review/ice_cream_table_desktop@2x.png 2x
          "
          alt="ice cream"
        />
        <img
          class="review__person"
          alt="woman"
          src="#"
          srcset="
            /img/review/review_person.png    1x,
            /img/review/review_person@2x.png 2x
          "
        />
        <p class="review__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="review__place">Emily, Los Angeles</p>
      </li>
      <li class="review__item swiper-slide">
        <img
          class="review__image"
          src="#"
          srcset="
            /img/review/ice_cream_cone.png    1x,
            /img/review/ice_cream_cone@2x.png 2x
          "
          alt="ice cream"
        />
        <img
          class="review__person"
          alt="man"
          src="#"
          srcset="
            /img/review/review_person2.png    1x,
            /img/review/review_person2@2x.png 2x
          "
        />
        <p class="review__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="review__place">Bryan, New-York</p>
      </li>
      <li class="review__item swiper-slide">
        <img
          class="review__image"
          src="#"
          srcset="
            /img/review/ice_cream_ice_cubes.png    1x,
            /img/review/ice_cream_ice_cubes@2x.png 2x
          "
          alt="ice cream"
        />
        <img
          class="review__person"
          alt="woman"
          src="#"
          srcset="
            /img/review/review_person3.png    1x,
            /img/review/review_person3@2x.png 2x
          "
        />
        <p class="review__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="review__place">Diana, Chicago</p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
