<section class="review">
    <div class="container">
        <ul class="review__list">
            <li class="review__item">
                <img class="review__image" src="" alt="ice cream">
                <img class="review__person" alt="woman" src="/img/review/review_person.png">
                <p class="review__text">
                    I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="review__place">Emily, Los Angeles</p>
            </li>
        </ul>
    </div>
</section>